ENVIRONMENT=development
DEBUG=true

SECRET_KEY=db68f5aab0e7fd5abd63bd53fc47d5406005d0eca713f49cdbcbd1c51a3722f

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/deepfake_platform
REDIS_URL=redis://localhost:6379/0

S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=deepfake-media
S3_REGION=us-east-1

INFERENCE_SERVICE_URL=http://localhost:8500

CORS_ORIGINS=["http://localhost:3000"]
